* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: whitesmoke;
}

.graph-container {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  background-color: lightgray;
}

.graph {
  width: 100%;
  height: 100%;
}

.import-container {
  width: 100%;
  padding: 1rem;
}

.import-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-group {
  width: 100%;
  padding: 0.3rem;
  padding-right: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid; */
}

.form-group:last-of-type {
  justify-content: flex-end;
}

/* .form-grid {
  width: 100%;
  display: flex;
  justify-content: space-between;
} */

/* .form-label {
} */

.form-control {
  flex-grow: 1;
  padding: 0.3rem;
  border-radius: 3px;
  margin-left: 0.5rem;
  border: 1px solid lightgray;
}

.textarea {
  margin-left: 0;
  resize: none;
}

.submit-btn {
  width: 7rem;
  margin: 0.5rem 0;
  padding: 0.7rem 0.5rem;
  cursor: pointer;
  color: white;
  align-self: flex-end;
  border: 1px solid white;
  background-color: #94dd01;
  border-radius: 0.2rem;
}

.submit-btn:hover {
  background-color: #83c402;
}

/* REMOVING ARROWS/SPINNERS ON NUMBER FIELD */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@media only screen and (min-width: 600px) {
  .import-container {
    padding: 3rem;
  }
}

@media only screen and (min-width: 769px) {
  .container {
    display: flex;
    height: 100vh;
    flex-direction: row;
  }

  .graph-container {
    width: 55%;
    padding: 8rem;
  }
  .import-container {
    width: 45%;
    padding: 5rem;
  }
}
