{% extends 'base.html' %}

{% block head %}
<title>Graph</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="import-container">
        <h1>Input Data</h1>
        <p> <b>Note: </b> Data must be a list of numbers seperated by <b>commas</b> or <b>spaces</b> or <b>tabs</b>.
        </p>
        <form action="/" method="post" class="import-form">
            <!-- <input type="file" name="data" id="data-file"> -->
            <div class="form-group">
                <textarea name="data" id="data" cols="30" rows="10" placeholder="Input data here..."
                    class="form-control textarea">{{ data }}</textarea>
            </div>
            <div class="form-group">
                <label for="class-interval" class="form-label">Class Interval: </label>
                <input type="number" min="0" value="{{ interval }}" step="0.01" class="form-control"
                    name="class-interval" id="class-interval">
            </div>
            <div class="form-group">
                <label for="title" class="form-label">Title (optional): </label>
                <input type="text" placeholder="" class="form-control" name="title" id="title">
            </div>
            <!-- <div class="form-group form-grid">
                </div> -->
            <div class="form-group">
                <button type="submit" class="submit-btn">Plot</button>
            </div>
        </form>
    </div>
    <div class="graph-container">
        <img class="graph" src="{{ graph }}" alt="graph" />
    </div>
</div>
{% endblock %}